.App {
  background-color: #f2f2f2;
}
.navbar {
  text-decoration: none;
  /* display: flex; */
}
.brand {
  font-size: 48px;
}
.tabs-button {
  border-style: none;
  margin-left: 30px;
}
.empty-box {
  background-color: #c1bcff;
  position: relative;
  top: 16px;
  width: 600px;
  height: 480px;
}
.profile-container {
  position: absolute;
  display: flex;
  left: 450px;
  top: 60px;
}
.image-container {
  background-color: #e3e0fd;
  width: 250px;
  height: 360px;
}
.info-container {
  background-color: #c1bcff;
  width: 250px;
  height: 360px;
}
